@import 'tailwindcss/base';
@import './prism.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  [inert] ::-webkit-scrollbar {
    display: none;
  }

}

:root {
  --media-background-color: --_primary-color;
}

.prose :where(img):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  @apply mt-0 mb-0
}

.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::after, .prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::before {
  content: "";
}

.prose p > code {
  @apply border border-opacity-30 border-gray-500 rounded-md px-1 py-1 mx-0.5 bg-gray-500 bg-opacity-10 font-semibold
}


