@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* base color */
  --nextra-primary-hue: 345deg;
  --nextra-primary-saturation: 89%;
}

/* remove the ugly outlines on Nextra Tabs component */
html button, [tabindex]:not([tabindex="-1"]):focus-visible {
  @apply focus-visible:ring-0 focus-visible:ring-offset-0
}

/* center images in articles */
article img {
  @apply mx-auto
}

.nextra-code-block > div {
  background-color: #081120 !important;
  color: #fff
}

.nextra-code-block > pre {
  background-color: #192230 !important;
}