@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* base color */
  --nextra-primary-hue: 345deg;
  --nextra-primary-saturation: 89%;
}

/* remove the ugly outlines on Nextra Tabs component */
html button, [tabindex]:not([tabindex="-1"]):focus-visible {
  @apply focus-visible:ring-0 focus-visible:ring-offset-0
}

/* center images in articles */
article img {
  @apply mx-auto
}

.nextra-code-block > div {
  background-color: #081120 !important;
  color: #fff
}

.nextra-code-block > pre {
  background-color: #192230 !important;
}

code .line.highlighted {
  background-color: hsl(217deg,32%, 20%);
  color: hsl(var(--nextra-primary-hue)var(--nextra-primary-saturation)45%/.5);
  --tw-shadow: 2px 0 currentColor inset;
  --tw-shadow-colored: inset 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
}